@import 'tailwindcss';

@theme {
  --color-background: #FFF9F0;
  --color-foreground: #232323;

  --color-card: #FFF3E6;

  --color-primary: #7C3AED;
  --color-primary-foreground: #FFF9F0;

  --color-secondary: #FFD700;
  --color-secondary-foreground: #232323;

  --color-muted: #F5E9D7;
  --color-muted-foreground: #7C3AED;

  --color-border: #E0CDA9;

  --radius: 0.75rem;

  --color-highlight: #FFD700;
  --color-surface: #FFF9F0;
}