@import "tailwindcss";

@theme {
  --color-background: #fff9f0;
  --color-foreground: #232323;

  --color-card: #fff3e6;

  --color-primary: #8a55e6;
  --color-primary-foreground: #232323;

  --color-secondary: #ffd700;
  --color-secondary-foreground: #8a55e6;

  --color-muted: #ebd4b2;
  --color-muted-foreground: ##7a7676;
  
  --color-border: #e0cda9;
  
  --radius: 0.75rem;

  --color-highlight: #ffd700;
  --color-surface: #b0aaa0;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif;
  }

  .font-serif {
    font-family: "Playfair Display", serif;
  }
}

@layer components {
  .glass {
    background: color-mix(in srgb, var(--color-surface) 50%, transparent);
    backdrop-filter: blur(16px);
    border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
  }

  .glass-strong {
    background: color-mix(in srgb, var(--color-surface) 80%, transparent);
    backdrop-filter: blur(24px);
    border: 1px solid color-mix(in srgb, var(--color-border) 60%, transparent);
  }
}


