@import "tailwindcss";

@theme {
  --color-background: #fff9f0;
  --color-foreground: #232323;

  --color-card: #fff3e6;

  --color-primary: #7c3aed;
  --color-primary-foreground: #fff9f0;

  --color-secondary: #ffd700;
  --color-secondary-foreground: #232323;

  --color-muted: #f5e9d7;
  --color-muted-foreground: #7c3aed;

  --color-border: #e0cda9;

  --radius: 0.75rem;

  --color-highlight: #ffd700;
  --color-surface: #fff9f0;
}

@layer {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif;
  }

  .font-serif {
    font-family: "Playfair Display", serif;
  }
}
